/* body {
    font-family: Arial, sans-serif;
    background: #f3f4f6;
}

div {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 12px;
}

h1 {
    color: #111827;
}

p {
    font-size: 18px;
} */

/* День 2 */
body {
    font-family: Arial, sans-serif;
    background: #f3f4f6;
}

.app {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
}

.card {
    background: white;
    padding: 16px;
    margin-top: 16px;
    border-radius: 12px;
    border: 1px solid #e5e7eb;
}

.header {
    background: white;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #e5e7eb;
}

.footer {
    margin-top: 20px;
    color: #6b7280;
}

/* День 3 */
body {
    font-family: Arial, sans-serif;
    background: #f3f4f6;
}

.app {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
}

.card {
    background: white;
    padding: 16px;
    margin-top: 16px;
    border-radius: 12px;
    border: 1px solid #e5e7eb;
}

.status-good {
    color: green;
    font-weight: bold;
}

.status-bad {
    color: red;
    font-weight: bold;
}